
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // WARNING: These rules are insecure and are for testing purposes only.
    // They allow anyone to read, write, and delete any file in your storage bucket.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
